# ==========================================
# 1. Version Control
# ==========================================
.git
.gitignore

# ==========================================
# 2. Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# ==========================================
# 3. Research Integrity & Security
# ==========================================
.env
.env.*

# ==========================================
# 4. Local
# ==========================================

python-ml/artifacts/*
!python-ml/artifacts/.gitkeep

# ==========================================
# 5. IDE  OS
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# 6. Virtual Environments
# ==========================================
venv/
.venv/
env/